.summary__label {
	background-color: var(--bg-color-2);
	min-width: 10rem;
	padding: 0.25rem 1rem;
	display: inline-block;
	text-transform: uppercase;
}

.summary__modal-btn {
	padding-left: .25rem;
	padding-right: .25rem;
	font-weight: 600;
	color: var(--font-color-1) !important;
	text-decoration: underline !important;
	text-align: right;
	font-size: 13px;
}
.termsAndConditions h5{
	font-family: 'Raleway', sans-serif;
	color: var(--font-color-2);
	font-size: 15px;
}
.termsAndConditions {
	font-family: 'Raleway', sans-serif;
	color: var(--font-color-1);
	font-size: 13px;
}
.button:hover{
	color: var(--font-color-7) !important;
}

/*CHECKBOX*/

.styled-checkbox {
  position: absolute;
  opacity: 0;
}


.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  color: var(--font-color-1);
  font-size: 13px;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid var(--border-color-1);
}
.styled-checkbox:hover + label:before {
  background: var(--bg-color-2);
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: var(--bg-color-2);
}
.styled-checkbox:disabled + label {
  color:var(--bg-color-3);
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
