.calendar {
	display: block;
	min-width: 100px;
	text-align: center;
}

.calendar .calendar-header {
	color: var(--font-color-2);
	font-weight: bold;
}

.calendar .calendar-header, 
.calendar .calendar-body {
	display: flex;
	display: -ms-flexbox;
	-ms-flex-pack: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	padding: .4rem 0;
}

.calendar .calendar-header .calendar-date, 
.calendar .calendar-body .calendar-date {
	-ms-flex: 0 0 14.28%;
	flex: 0 0 14.28%;
	max-width: 14.28%;
}

.calendar .calendar-date {
	border: 0;
	padding: .2rem;
}

.calendar .calendar-date .date-item.date-today {
	border-color: var(--border-color-2);
	color: var(--font-color-2);
}

.calendar .calendar-date .date-item {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border: 2px solid transparent;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	height: 2.3rem;
	width: 2.3rem;
	outline: none;
	padding: .1rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all .2s ease;
	vertical-align: middle;
	white-space: nowrap;
	color: var(--font-color-1);
	/*font-weight: bold;*/
}

/* .calendar .calendar-date .date-item:focus, */
.calendar .calendar-date .date-item:hover {
	background: transparent;
	border-color: var(--border-color-2);
	text-decoration: none;
}

.calendar .calendar-date .date-item:active, 
.calendar .calendar-date .date-item.active {
	background: var(--bg-color-2);
	border-color: var(--bg-color-2);
	color: var(--font-color-8);
}

.calendar .calendar-range {
	position: relative;
}

.calendar .calendar-range.range-start::before { left: 50%; }

.calendar .calendar-range::before {
	background: var(--bg-color-2);
	content: "";
	height: 1.4rem;
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.calendar .calendar-range.range-end::before { right: 50%; }

.calendar .calendar-range::before {
	background: var(--bg-color-2);
	content: "";
	height: 1.4rem;
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.calendar .calendar-date.calendar-range .date-item {
	color: var(--font-color-3) !important;
}

.strikethrough {
	border-color: var(--font-color-4);
	color: var(--font-color-4);
	border-radius: 0;
	position: relative;
	display: inline;	
	width: 1rem;
}

.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
	border-color: inherit;

  -webkit-transform:rotate(-30deg);
  -moz-transform:rotate(-30deg);
  -ms-transform:rotate(-30deg);
  -o-transform:rotate(-30deg);
  transform:rotate(-30deg);
}

.calendar .calendar-date .strikethrough > .date-item {
	color: var(--font-color-4);
	cursor: not-allowed;
	font-weight: 100;
}

.calendar .calendar-date .strikethrough > .date-item:focus, 
.calendar .calendar-date .strikethrough > .date-item:hover {
	border-color: transparent;
}

.calendar__spinner { margin-top: 10rem; }



.selection-details,
.time-selector__item {
	text-align: center;
	color: var(--font-color-9);
	text-align: center;
}

.time-selector__item {
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}


.time-selector__item:hover {
	background-color: white;
}



.loader-position {
	min-height: 25rem;
	position: relative;
}