.modal-window {
	position: fixed;
	width: auto;
	margin: 0;
	background-color: rgba(0, 0, 0, .65);
	display: none;
	overflow: auto;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
}

.modal-window--top {
	min-height: auto;
}

.modal-window__content {
	position: relative;
	background-color: var(--bg-color-1);
}

.modal-window__content {}

.fade-modal {
	animation: fade-modal .5s;
}

@keyframes fade-modal {
	from { opacity: 0; }
	to { opacity: 1; }
}

.modal-show {
	opacity: 1;
	transition: opacity .5s linear;
	transition-delay: .5s;
}

.modal-window__header {
	background-color: transparent;
	width: 100%;
	height: 30px;
	line-height: 60px;
	padding-left: 20px;
	border-bottom: 0px;
}

.modal-window__close {
	text-align: right;
	cursor: pointer;
	transition: all .3s;
}

.modal-window__close>svg {
	padding: 1rem;
	box-sizing: content-box;
}

.modal-window__body {
	padding: 0 1rem 2rem 1rem;
}

@media (min-width: 768px) {
	.modal-window {
		min-height: auto;
	}
	.modal-window--top {
		margin-top: 0;
	}
	.modal-window__content {
		margin: 1rem auto;
		max-width: 800px;
		border-radius: .25rem;
	}
	.modal-window--top>.modal-window__content {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	.modal-window__body {
		padding: 2rem;
		padding-top: 0;
	}
}

.modal-window--top {
	display: block;
}

.modal-window--top .modal-window__content {
	transform: translateY(-100%);
	transition: transform .5s ease-in-out;
}

.modal-window--hide {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility .1s .5s, opacity .1s .5s;
	-moz-transition: visibility .1s .5s, opacity .1s .5s;
	transition: visibility .1s .5s, opacity .1s .5s;
}

.modal-window--show {
	visibility: visible;
	opacity: 1;
}

.modal-window--show .modal-window__content {
	transform: translateY(0);
	transition: transform .5s ease-in-out;
}

.fadeInDown {
	animation-name: fadeInDown;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
}

.fadeOutUp {
	animation-name: fadeOutUp;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
	transform: translateY(-100%);
}

@keyframes fadeInDown {
	0% {
		/* opacity: 0; */
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes fadeOutUp {
	0% {
		/* opacity: 0; */
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100%);
	}
}
