.select-wrapper {
	padding: 0;
	margin: 0;
	color: var(--font-color-1);
	background-color: transparent;
	position: relative;
	display: inline-block;
	width: 100%;
	overflow: hidden;
}

.select-wrapper--short {
	width: auto !important;
	padding-right: 1rem;
}

.select-wrapper::after {
	position: absolute;
	top: 14px;
	right: 0;
	width: 0;
	content: "";
	border-top: 5px solid;
	border-color: inherit;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	pointer-events: none;
	margin-left: 5px;
}

.select-wrapper>select,
.select-wrapper>select:focus,
.select-wrapper>select:active {
	box-shadow: none;
	background-color: transparent;
	background-image: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-right: 20px;
	outline: none;
	padding: .25rem;
}
